# Pandas

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

### Why Use Pandas?

Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

In [1]:
import pandas as pd

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
pd.__version__

'1.3.5'

###  Series

A Pandas Series is like a column in a table.
It is a one-dimensional array holding data of any type.

In [4]:
a=[1,2,3]
df=pd.Series(a)
df

0    1
1    2
2    3
dtype: int64

In [5]:
type(df)

pandas.core.series.Series

### Labels

If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [6]:
df[0]

1

In [7]:
df[2]

3

### Create Labels

With the index argument, you can name your own labels.

In [8]:
df=pd.Series(a, index=["X","Y","Z"])
df

X    1
Y    2
Z    3
dtype: int64

In [9]:
df["Y"]

2

###  Key/value pair

In [10]:
car={"BMW":4500,"MB":50000,"NANO":4000}
df=pd.Series(car)
df

BMW      4500
MB      50000
NANO     4000
dtype: int64

In [11]:
car={"BMW":4500,"MB":50000,"NANO":4000}
df=pd.Series(car,index=["BMW","MB"])
df

BMW     4500
MB     50000
dtype: int64

### DataFrames

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [12]:
data = {
  "Hour": [3, 5, 6],
  "second": [180, 300, 360]
}
df = pd.DataFrame(data)
print(df)

   Hour  second
0     3     180
1     5     300
2     6     360

In [13]:
import pandas as pd
import numpy as np

In [14]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4)
                ,index=['Row1','Row2','Row3','Row4','ROw5'],
                columns=["Column1","Column2","Column3","Column4"])
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
ROw5       16       17       18       19

### Access Method

In [15]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64

In [16]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
ROw5       16       17       18       19

In [17]:
type(df.iloc[:,:])

pandas.core.frame.DataFrame

In [18]:
df.iloc[:2,:2]

      Column1  Column2
Row1        0        1
Row2        4        5

In [19]:
df.iloc[:3,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11

In [20]:
df.iloc[:,1:4]

      Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
ROw5       17       18       19

In [21]:
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [22]:
type(df.iloc[:,:].values)

numpy.ndarray